* {
    padding: 0%; 
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: purple;
}

ul {
    display: flex; 
    justify-content: space-around;
    margin: 20px;
    list-style: none;
    text-transform: capitalize;
}

nav {
    margin-bottom: 5rem;
}

a {
    text-decoration: none;
    color: aliceblue;

}

img{
    width: 200px;
    height: 250px;
}

.photos{
    display: flex;
    justify-content: space-around;
}
.spacing{
margin-bottom: 5rem;
}